.button-style {
    margin-top: 100px;
    margin-left: 300px;
    height: 50px;
    width: 200px;
    border-radius: 15px 15px 1px;
    border-color: white;

    background: #ff44f8;
    font-family: Ani, serif;
    font-size: 25px;
}

.table-global-style {
    width: 1010px;
    font-family: Ani, serif;
}

.rows-style-done {
/*style={{textDecorationLine: 'line-through', textDecorationStyle: 'solid'}}*/
    background: rgba(27,224,2,0.53);
}

.crossed {
    text-decoration: line-through;
    text-decoration: solid;
}

.rows-style-notdone {
    background: rgba(224,26,0,0.53);
}

.table-centerize {
    margin: 0 auto;
}

.checkbox-centerize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-style {
    height: 950px;
    background: antiquewhite;
}